<link rel="stylesheet" href="/style/{{defaultStyle}}/home/index.css">
<div id="index">
    <div class="row">
        <div class="col">
            <div class="container">
                {{!-- <div class="title">نراكم في الملتقى القادم :)</div> --}}
                <div class="description">
                    <ul>
                        <li>الموقع مخصص لشهادات المشاركة الخاصة بملتقى الشباب القيادي.</li>
                        <li>يرجى إدخال بريدك الالكتروني إدخاله عند التسجيل . </li>
                        <li>الشهادات لمن حضر كل فقرات البرنامج.</li>
                        <li>في حالة وجود أي مشكلة يرجى التواصل مع الفريق التقني للملتقى على
                            <a target="_blank" href="https://www.instagram.com/haitham_alhaji/"
                                style="font-weight:bolder">
                                <i class="fas fa-share-square"></i> Haitham Alhaji
                            </a>.
                        </li>

                    </ul>
                </div>

                <div class="content">
                    {{#ifEquals isFound "false"}}
                    <div class="alert alert-danger">
                        البريد الذي ادخلته لم يتم التعرف عليه {{email}} او المواليد {{birthday}}, تواصل مع الفريق التقني
                        المشار اليه اعلاه.
                    </div>
                    {{/ifEquals}}
                    <form method="post" action="/certifications">
                        <div class="row">
                            <div class="col-sm-4"> </div>
                            <div class="col-sm-4">
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                            {{texts.email}}
                                        </span>
                                    </div>
                                    <input name="client_email" class="form-control" type="text"
                                        placeholder="haithamtlalhaji@yahoo.com" required maxlength="100" minlength="8"
                                        style="direction: ltr;">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">

                                            <i class="fas fa-birthday-cake"></i>
                                            {{texts.birthday}}
                                        </span>
                                    </div>
                                    <input name="client_birthday" type="text" style="direction: ltr;"
                                        class="form-control" id="datepicker" required placeholder="1994-06-04">
                                </div>
                            </div>
                            <div class="col-sm-4"> </div>
                        </div>
                        <button class="btn btn-block " type="submit"
                            style="background-color:#543293;color:white;">تحميل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#datepicker").datepicker({
            dateFormat: "yy/mm/dd",
            changeYear: true,
            changeMonth: true,
            yearRange: "-100:+0",
            dateFormat: 'yy-mm-dd'
        });
    });
</script>